/* CSS Document */ 
.leftlinks { 
    border:1px solid #22476C; 
    padding:5px; 
    margin:5px; 
    text-align:middle; 
    background-color:#336699; 
    width:150px; 
    } 
    .leftlinks a { 
    display:block; 
    margin:3px 0px; 
    border-top:1px solid #4C86C0; 
    border-left:1px solid #4C86C0; 
    border-right:1px solid #22476C; 
    border-bottom:1px solid #22476C; 
    padding: 4px 10px; 
    text-align:center; 
    background-color:#336699;
   
    color:#EDEDED; 
    text-decoration:none; 
    } 
    .leftlinks a:link { 
    color:#EDEDED; 
    } 
    .leftlinks a:visited { 
    color:#EDEDED;
   
    } 
    .leftlinks a:hover { 
    display:block; 
    margin:3px 0px; 
    border-top:1px solid #22476C; 
    border-left:1px solid #22476C; 
    border-bottom:1px solid #4C86C0; 
    border-right:1px solid #4C86C0; 
    padding: 5px 9px 3px 11px; 
    text-align:center; 
    background-color:#336699; 
    color:#EED929; 
    text-decoration:none; 
    } 

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline;
      }
    